body {
}

.category-bg {
	width: 100%;
	overflow: hidden;
	min-height: 290px;
	background-color: #016aab;
}

.category-bg img {
	width: 100%;
}

.category-bg .container {
	position: relative;
}

.category-bg .container div {
	vertical-align: top;
	line-height: 0;
	overflow: hidden;
	background-color: #fff;
}

.category-bg .before,
.category-bg .after {
	position: absolute;
	width: 100%;
	top: 0;
}

.category-bg .before img,
.category-bg .after img {
	opacity: 0.5;
}

.category-bg .before {
	left: -100%;
}

.category-bg .after {
	right: -100%;
}

.m-subnav, .m-content, .m-nav-path {
	background-color: #fff;
	margin: 20px 0;
	overflow: hidden;
}

.m-nav-path {
	padding: 10px 15px;
}

.m-nav-path em {
	font-style: normal;
}

.m-nav-path a {
	position: relative;
	display: inline-block;
}

.m-nav-path span {
	opacity: 0;
	padding: 0 5px;
}

.m-nav-path a:after {
	content: ' ';
	width: 4px;
	height: 4px;
	position: absolute;
	right: -12px;
	top: 8px;
	border: 1px solid #333;
	border-width: 1px 1px 0 0;
	transform: rotate(45deg);
}


.m-subnav {
	padding: 15px;
}

.m-subnav h2 {
	font-size: 18px;
	color: #333;
	line-height: 30px;
	font-weight: normal;
	margin-bottom: 10px;
}

.m-subnav ul {
	padding: 5px;
}

.m-subnav ul li {
	line-height: 26px;
	margin-bottom: 1px;
}

.m-subnav ul a {
	display: block;
	position: relative;
	padding-left: 7px;
}

.m-subnav ul a:hover, .m-subnav li.current a{
	text-decoration: underline;
}

.m-subnav li.current a {
	color: #000;
}

.m-subnav li.current a:after {
	content: ' ';
	width: 3px;
	height: 3px;
	border: 1px solid #000;
	border-width: 1px 1px 0 0;
	transform: rotate(45deg);
	position: absolute;
	left: -1px;
	top: 11px;
}

.m-content {
	padding: 10px 15px;
	line-height: 200%;
	padding-bottom: 60px;
}

.m-content .title {
	padding: 5px 10px;
	border-bottom: 1px solid #eee;
}

.m-content .title h2 {
	font-size: 18px;
	font-weight: normal;
	line-height: 30px;
}

.m-content .article-title {
	text-align: center;
	margin: 10px 0;
}

.m-content .article-title h2 {
	font-weight: normal;
}

.m-content .article-title p {
	font-size: 12px;
	color: #999;
}

.m-content .content {
	padding: 10px;
	text-indent: 30px;
	min-height: 400px;
}

.article-list {
	background-color: #fff;
	min-height: 400px;
}


.pager {
	text-align: center;
	width: 244px;
	overflow: hidden;
	margin: 0 auto;
	height: 30px;
	border-radius: 3px;
}

.pager a, .pager span {
	text-align: center;
	width: 40px;
	text-indent: 0;
	height: 30px;
	line-height: 30px;
	position: relative;
	vertical-align: top;
	background-color: #65bcff;
	float: left;
}

.pager span {
	cursor: default;
	background-color: #ddd;
}

.pager .first em,
.pager .prev em,
.pager .next em,
.pager .last em {
	background: no-repeat url(/images/icons.png);
	height: 20px;
	width: 20px;
	position: absolute;
	left: 10px;
	top: 5px;
	background-position: 0 0;
}

.pager .first,
.pager .prev {
	border-right: 1px solid #fff;
}

.pager .last,
.pager .next {
	border-left: 1px solid #fff;
}

.pager .current {
	width: 80px;
	background-color: #fff;
}

.pager .first em {
	background-position: 0 -20px;
}

.pager .next em {
	background-position: -20px 0;
}

.pager .last em {
	background-position: -20px -20px;
}

.pager span {
	cursor: default;
}

.pager em {
	font-style: normal;
}