* {	margin: 0; padding: 0;}
ul, li { list-style: none; }
body, html, input {margin:0;font-family:'Microsoft YaHei',STHeiti,Helvetica,Arial,sans-serif; font-size: 14px;}

p{margin-left:5px; font-size:13px;}

h1 {
	margin: 20px 0;
}

a {
	color: #016aab;
	text-decoration: none;
}

.container {
	min-width: 1000px;
	margin: 0 auto;
}

.container, .wrap {
	width: 1000px;
}

.raster-container {
	margin-left: -20px;
	overflow: hidden;
}

.raster {
	margin-left: 20px;
	float: left;
	min-height: 300px;
}

.r1{ width: 31px; }
.r2{ width: 82px; }
.r3{ width: 133px; }
.r4{ width: 184px; }
.r5{ width: 235px; }
.r6{ width: 286px; }
.r7{ width: 337px; }
.r8{ width: 388px; }
.r9{ width: 439px; }
.r10{ width: 490px; }
.r11{ width: 541px; }
.r12{ width: 592px; }
.r13{ width: 643px; }
.r14{ width: 694px; }
.r15{ width: 745px; }
.r16{ width: 796px; }
.r17{ width: 847px; }
.r18{ width: 898px; }
.r19{ width: 949px; }
.r20{ width: 1000px; }

@media (min-width: 1400px) {
	.container, .wrap {
		width: 1200px
	}
	
	.r1{ width: 41px; }
	.r2{ width: 102px; }
	.r3{ width: 163px; }
	.r4{ width: 224px; }
	.r5{ width: 285px; }
	.r6{ width: 346px; }
	.r7{ width: 407px; }
	.r8{ width: 468px; }
	.r9{ width: 529px; }
	.r10{ width: 590px; }
	.r11{ width: 651px; }
	.r12{ width: 712px; }
	.r13{ width: 773px; }
	.r14{ width: 834px; }
	.r15{ width: 895px; }
	.r16{ width: 956px; }
	.r17{ width: 1017px; }
	.r18{ width: 1078px; }
	.r19{ width: 1139px; }
	.r20{ width: 1200px; }
}

@media (min-width: 1600px) {
	.container, .wrap {
		width: 1400px
	}

	.r1{ width: 51px; }
	.r2{ width: 122px; }
	.r3{ width: 193px; }
	.r4{ width: 264px; }
	.r5{ width: 335px; }
	.r6{ width: 406px; }
	.r7{ width: 477px; }
	.r8{ width: 548px; }
	.r9{ width: 619px; }
	.r10{ width: 690px; }
	.r11{ width: 761px; }
	.r12{ width: 832px; }
	.r13{ width: 903px; }
	.r14{ width: 974px; }
	.r15{ width: 1045px; }
	.r16{ width: 1116px; }
	.r17{ width: 1187px; }
	.r18{ width: 1258px; }
	.r19{ width: 1329px; }
	.r20{ width: 1400px; }
}

body, html {
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #f4f4f4;
}

.logo {
}

.logo a, .logo img {
	border: none;
}

.content {
	min-height: 400px;
}


#header {
	position: relative;
	z-index: 101;
	box-shadow: 0 0 4px #000;
	background-color: #fff;
}

#header .container {
	position: relative;
	height: 80px;
}

#header .navigator {
	position: absolute;
	right: 0;
	bottom: 3px;
	height: 40px;
	top: 37px;
}

@keyframes fadein {
	from {
		margin-top: -10px;
		opacity: 0;
	}
	to {
		margin-top: 0;
		opacity: 0.9;
	}
}

#header .navigator a {
	color: #333;
	font-size: 14px;
	height: 100%;
	width: 100%;
	display: block;
}

#header .navigator .nav-item {
	float: left;
	position: relative;
	margin-left: 20px;
}

#header .navigator .home {
	margin-left: 0;
}

#header .navigator .nav-item .box {
	height: 40px;
	line-height: 40px;
	width: 100px;
	text-align: center;
}

#header .navigator .current .box, #header .navigator .nav-item:hover .box {
	border-bottom: 3px solid #016aab;
	margin-bottom: -3px;
}

#header .navigator .current .box a, #header .navigator .nav-item:hover .box a{
	color: #016aab;
}

#header .navigator .nav-item .sub {
	display: none;
	position: absolute;
	top: 43px;
	left: 0;
	width: 100%;
	background-color: #fff;
}
/*
#header .navigator .nav-item .sub li {
	line-height: 40px;
	text-align: center;
}

#header .navigator .nav-item .sub a {
	font-size: 13px;
}

#header .navigator .nav-item.hover .sub, #header .navigator:hover .nav-item .sub {
	display: block;
	animation: fadein 0.5s;
}
*/
#footer {
	clear: both;
	margin-top: 100px;
	background-color: #37383a;
	font-size: 13px;
	position: relative;
}

#footer .container {
	padding: 15px 0 50px;
	position: relative;
	min-height: 180px;
	overflow: hidden;
}

#footer a {
	color: #fff;
	font-size: 12px;
}

#footer .fnav {
	display: flex;
	vertical-align: top;
	margin-right: 240px;
}

#footer .f-logo {
	background: no-repeat url(/images/logo-w.png) center 10px;
	width: 240px;
	height: 1000px;
	position: absolute;
	right: 0;
	top: 20px;
	border-left: 1px solid #fff;
}

#footer .container .nav-item {
	flex: 1 1 auto;
	width: 120px;
	display: inline-block;
	line-height: 23px;
	float: left;
}

#footer .fnav .home {
	display: none;
}

#footer .container .sub {
	margin-top: 10px;
}

#footer .container .nav-item .box a {
	font-weight: 600;
	line-height: 36px;
	font-size: 14px;
}

#footer .container .sub-item {
	position: relative;
	padding-left: 8px;
}

#footer .container .sub-item:after {
	content: ' ';
	position: absolute;
	border: 1px solid #fff;
	border-width: 1px 1px 0 0;
	transform: rotate(45deg);
	left: -1px;
	top: 10px;
	width: 3px;
	height: 3px;
}

#footer .cert {
	color: #ccc;
	text-align: center;
	width: 100%;
	line-height: 30px;
	background-color: #292a2c;
	margin-top: 20px;
}

.clrfix {
	clear: both;
}