.sliders,
.slider-outer,
.sliders .slider-item,
.slider-nav:before, .slider-nav:after {
	height: 400px;
}

@media (min-width: 1400px) {
	.sliders,
	.slider-outer,
	.sliders .slider-item,
	.slider-nav:before, .slider-nav:after {
		height: 480px;
	}
}

@media (min-width: 1600px) {
	.sliders,
	.slider-outer,
	.sliders .slider-item,
	.slider-nav:before, .slider-nav:after {
		height: 560px;
	}
}

.sliders {
	white-space: nowrap;
}

.slider-outer {
	overflow: hidden;
	width: 100%;
	box-shadow: 0 2px 4px #666;
}

.sliders .slider-item {
	float: left;
	text-align: center;
	overflow: hidden;
	background-position: center center;
}

.sliders .slider-item a {
	display: block;
	width: 100%;
	height: 100%;
}

.sliders .slider-item img {
	width: 100%;
}

.slider-nav {
	width: 100%;
	height: 30px;
	top: -30px;
	position: relative;
	text-align: center;
}

.slider-nav:before, .slider-nav:after {
	content: ' ';
	position: absolute;
	width: 100%;
	bottom: 0;
	background-color: #fff;
	opacity: 0.7;
}

.slider-nav:before {
	left: -100%;
}

.slider-nav:after {
	left: 100%;
}

.slider-nav a {
	margin: 0 5px;
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 10px;
	background-color: #fff;
	cursor: pointer;
	border: 1px solid #fff;
	opacity: 0.7;
	position: relative;
}

.slider-nav a.current, .slider-nav a:hover {
	background-color: #00a8b5;
	opacity: 1;
}

.slider-nav a.current:after, .slider-nav a:hover:after {
	position: absolute;
	left: -1px;
	top: -1px;
	width: 100%;
	height: 100%;
	background-color: #fff;
	content: ' ';
	padding: 1px;
	border-radius: 10px;
}

.module-item {
	margin: 20px 0;
	padding: 15px;
	background-color: #fff;
}

.module-title {
	color: #999;
	font-weight: 400;
	line-height: 30px;
	font-size: 18px;
	position: relative;
}

.module-title .more {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 14px;
	line-height: 24px;
}

.module-title h2 {
	font-size: 18px;
	font-weight: normal;
	display: inline;
	color: #333;
}

.module-title .module-sub-title {
	font-size: 14px;
	font-weight: 100;
	margin-left: 10px;
}

.module-content {
	padding: 10px;
	line-height: 180%;
	color: #555;
}

.m-sublist {
}

.m-sublist li {
	line-height: 200%;
	float: left;
	width: 100%;
	position: relative;
}

.m-sublist-dbcol .m-sublist-content{
	margin-left: -20px;
	overflow: hidden;
}

.m-sublist-dbcol li {
	width: 50%;
	padding-left: 20px;
}

.m-sublist li .time {
	display: block;
	color: #999;
}



.m-list{
}

.m-list .sub-tab {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 14px;
	height: 30px;
}

.m-list .sub-tab li {
	cursor: pointer;
	margin-left: 5px;
	padding: 0 5px;
	color: #ccc;
	overflow: hidden;
	display: inline;
}

.m-list .sub-tab li.active {
	color: #016aab;
	border-bottom: 2px solid #016aab;
	height: 28px;
}

.m-list .module-content li {
	line-height: 200%;
	float: left;
	width: 100%;
	box-sizing: border-box;
	position: relative;
	margin-bottom: 10px;
}

.m-list .module-content li a {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.m-list .module-content li .summary {
	line-height: 150%;
	color: #666;
}

.m-list .module-content ul {
	overflow: hidden;
}

.m-list .module-content .more {
	clear: both;
	text-align: right;
	border-radius: 3px;
	display: none;
}

.m-list .module-content .more a {
	border-radius: 3px;
	background-color: #eee;
	padding: 0 20px;
}

.m-list-dbcol .m-list-content{
	margin-left: -20px;
	overflow: hidden;
}

.m-list-dbcol .module-content li {
	width: 50%;
}

.m-list-dbcol .module-content .box {
	padding-left: 20px;
}