<script type="text/javascript">
;(function(){
	$('#header').find('[href="/category/<%= category.id %>"]').parent().parent().addClass('current');
})();
</script>
<div class="category-bg">
	<div class="container">
		<% if (category.image) { %>
		<div class="before"><img src="<%= category.image %>" /></div>
		<div class="img"><img src="<%= category.image %>" /></div>
		<div class="after"><img src="<%= category.image %>" /></div>
		<% } %>
	</div>
</div>
<div class="container">
	<div class="raster-container">
		<div class="raster r4 sidebar">
			<div class="m-subnav">
				<h2><%= category.name %></h2>
				<ul class="sub-nav">
					<% var children=category.children||[]; for( var i=0; i<children.length; i++) { %><li<% if(children[i].id===sub.id) { %> class="current"<% } %>><a href="/category/<%- children[i].id %>"><%= children[i].name%></a></li><% } %>
				</ul>
			</div>
		</div>
		<div class="raster r16">
			<% if(article) { %>
			<div class="m-nav-path"><a href="/">首页</a><span>&gt;</span><a href="/category/<%= category.id %>"><%= category.name %></a><span>&gt;</span><a href="/category/<%= sub.id %>"><%= sub.name %></a><span>&gt;</span><em>文章</em></div>
			<div class="m-content">
				<div class="title"><h2><%= article.title %></h2></div>
				<div class="content">
					<%- article.content %>
				</div>
			</div>
			<% }else{ %>
			<div class="m-content">
				<% if(sub&&sub.name) { %><div class="title"><h2><%= sub.name %></h2></div><% } %>
				<div class="content">
				<% if(!content) { %>
				<div class="under-cons">暂无内容.</div>
				<% } else { %>
					<% if(sub.single) { %><%- content.content %><% } else { %>
					<ul class="article-list">
						<% for( var i=0; i<content.rows.length; i++ ) { %><li><a href="/article/<%= content.rows[i].id %>"><%= content.rows[i].title %></a><span class="date"><%= content.rows[i].date %></span></li><% } %>
					</ul>
					<div class="pager">
						<% if(content.prev) { %>
							<a class="first" href="/category/<%= sub.id %>"><em></em></a><a class="prev" href="/category/<%= sub.id %>/page/<%= content.prev %>"><em></em></a>
						<% } else { %>
							<span class="first"><em></em></span><span class="prev"><em></em></span>
						<% } %>
						<span class="current"><%= content.page %> / <%= content.total %></span>
						<% if(content.next) { %>
							<a class="next" href="/category/<%= sub.id %>/page/<%= content.next %>"><em></em></a><a class="last" href="/category/<%= sub.id %>/page/<%= content.total %>"><em></em></a>
						<% } else { %>
							<span class="next"><em></em></span><span class="last"><em></em></span>
						<% } %>
					</div>
					<% } %>
				<% } %>
				</div>
			</div>
			<% } %>
		</div>
	</div>
</div>