<div class="m-module-list">
	{{#list}}
		<div class="list-item">
			<div class="item-title" data-id="{{id}}">{{name}}</div>
			<ul>
				{{#children}}
				<li data-sub="{{id}}">{{name}}</li>
				{{/children}}
			</ul>
		</div>
	{{/list}}
</div>