<html><head><meta charset="utf-8" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1, user-scalable=no" media="(device-height:568px)" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title>Manage</title>
<link href="/css/manage.min.css" type="text/css" rel="stylesheet" />
</head>
<body>
<div class="header"><h1>Content Management</h1></div>
<div class="content">
	<div id="panel" class="win">
	</div>
</div>
<script type="text/javascript" src="/js/manage/index.min.js"></script>
</body></html>